[project]
	description = Portfolio
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jooneyp
[access "refs/for/refs/*"]
	read = group user/jooneyp
	push = group user/jooneyp
	label-Code-Review = -2..+2 group user/jooneyp
	label-Verified = -1..+1 group user/jooneyp
	rebase = group user/jooneyp
	removeReviewer = group user/jooneyp
	submit = group user/jooneyp
[access "refs/heads/*"]
	read = group user/jooneyp
	create = group user/jooneyp
	push = +force group user/jooneyp
	pushMerge = group user/jooneyp
[access "refs/tags/*"]
	push = +force group user/jooneyp
	pushTag = group user/jooneyp
	pushSignedTag = group user/jooneyp
